<div class="small-container center-block" >
    <%= render "articles/form"%>
    <!-- new y edit tiene le mismo formulario entonces se utiliza un parcial que siempre debe ir dentro de una vista completa y utilizamos el metodo render 
    que nos sirve para renderizar un parcial es comportamiento es por el metodo form_with si fuera a puro html nos quedaria muy dificil hacer los reder de los
    parciales-->
</div>
